


<div class="tw-flex tw-justify-center tw-items-center ">
    <div class="tw-relative tw-text-center tw-bg-gradient-to-br tw-from-gray-50 tw-to-gray-300 tw-rounded-lg tw-shadow-2xl tw-transform tw-rotate-0 tw-transform">
        <h1 class="tw-inline-block tw-flex tw-justify-center tw-items-center tw-text-primary-black tw-font-extrabold tw-text-2xl tw-text-opacity-90 tw-tracking-widest tw-transform tw--rotate-0 tw-transition-transform tw-duration-500 hover:tw-transform hover:tw-translate-y-4 tw-transition tw-duration-300 tw-ease-in-out">@Title</h1>
    </div>
</div>



@code {
    //indica que es un parametro a pasar
    [Parameter]
    //indica que este parametro es requerido si o si
    [EditorRequired]
    public string Title { get; set; }

}
