@page "/fetchdata"
@inject HttpClient Http
@inject ILogger<FetchData> logger


@using BlazorAppFirst.Models
@using System.Globalization;

<ModuleTitle Title="TABLA DINAMICA" />


<p>Este es un componente para crear tablas dinamicas .</p>

@*forecasts == null*@
@if (@headers != null || @registros != null)
{
    <TablaComponent headers="@headers" registros="@registros" />
}
else
{
    <p><em>Loading...</em></p>
    <p>La tabla no tiene datos !</p>
}

@code {

    List<string> headers = new List<string>() { "Header 1", "Header 2", "Header 3" ,"Header 4","Header 5"};
    public List<object> registros=new List<object>();


    protected override void OnInitialized()
    {
        Models.Product producto = new Models.Product
            {
                Id = 3,
                Title = "Producto 3",
                Price = Convert.ToDecimal("12,2"),
                Description = "Este es el producto 3",
                CategoryId = 2,
                Images = new string[] { "image1.jpg", "image2.jpg" },
                Image = "image1.jpg"
            };

        // Agregar el objeto a la lista de registros
        registros.Add(producto);
    }

    
        
    
}
