@page "/fetchdata"
@inject HttpClient Http
@inject ILogger<FetchData> logger


@using BlazorAppFirst.Models
@using System.Globalization;

<ModuleTitle Title="TABLA DINAMICA" />


<p>Este es un componente para crear tablas dinamicas .</p>

@*forecasts == null*@
@if (@headers != null || @registros != null)
{
    <TablaComponent headers="@headers" datos="@registros" columnValidation="@valdacionesRegex" />
}
else
{
    <p><em>Loading...</em></p>
    <p>La tabla no tiene datos !</p>
}

@code {
    string[] tiposColumnna = new string[] { "INT", "STRING", "DECIMAL", "STRING", "INT", "STRING", "STRING" };
    string[] valdacionesRegex = new string[] {
        "^[0-9]+$",
        @"^[A-Za-z0-9\s.,!?:;\-\(\)]+$",
        @"/[0-9\.]", @"^[a-zA-Z0-9,.!?;:()@#$%&*\-\s]+$", 
        "^[0-9]+$", 
        @"^(https?://)?[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,}(\/[^\/]*)*\/([^\/]+\.(jpg|png|gif))$" };

    List<string> headers = new List<string>() { "Id", "Title", "Price", "Description", "CategoryId", "Image" };
    public List<object> registros=new List<object>();


    protected override void OnInitialized()
    {
        for (int i = 1; i <= 30; i++)
        {
            Models.Product2 producto = new Models.Product2
                {
                    Id = i,
                    Title = "Producto " + i,
                    Price = Convert.ToDecimal("12,2"),
                    Description = "Este es el producto " + i,
                    CategoryId = i,
                    Image = "image" + i + ".jpg"
                };

            registros.Add(producto);
        }
    }

    
        
    
}
